In [38]:
#import the necessary packages to import csv file

#install pandas
!pip3 install pandas

import csv
import os
import sys
import re

Requirement already satisfied: pandas in ./.venv/lib/python3.10/site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in ./.venv/lib/python3.10/site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.10/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in ./.venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [39]:
#open the csv file
with open('SteppingBlocksData.csv', 'r') as f:
    reader = csv.reader(f)
    faculty_list = list(reader)
    print(faculty_list)

[['gender', 'city', 'state', 'current_job_title', 'current_job_category', 'current_employer', 'current_employer_industry', ' current_salary ', 'current_tenure'], ['m', 'Dallas', 'Georgia', 'Analyst', 'Information Technology', 'iVision', 'Information Technology And Services', '$63,901.00 ', '4'], ['u', 'Tucker', 'Georgia', 'Analyst', 'Information Technology', 'Avanade', 'Information Technology And Services', '$67,600.00 ', '2'], ['u', 'Lilburn', 'Georgia', 'Analyst', 'Information Technology', 'EY', 'Accounting', '$58,618.00 ', '3'], ['u', 'Atlanta', 'Georgia', 'Analyst', 'Information Technology', 'US Navy', 'Military', '$58,800.00 ', '7'], ['u', 'Atlanta', 'Georgia', 'Analyst', 'Information Technology', 'Newell Brands', 'Consumer Goods', '$64,783.00 ', '1'], ['m', 'Atlanta', 'Georgia', 'Analyst', 'Information Technology', 'Cox Communications', 'Telecommunications', '$60,352.00 ', '3'], ['u', 'Duluth', 'Georgia', 'Analyst Sales', 'Sales', 'MDA', 'Information Technology And Services', '$50,235.00 ', '4'], ['m', 'Norcross', 'Georgia', 'Analytics Engineer', 'Engineering', 'GE', 'Mechanical Or Industrial Engineering', '', '1'], ['u', 'Atlanta', 'Georgia', 'Applecare Advisor', 'Finance', 'Apple', 'Consumer Electronics', '', '5'], ['m', 'McDonough', 'Georgia', 'Associate', 'Customer Service', 'Infosys', 'Information Technology And Services', '$43,757.00 ', '4'], ['m', 'Atlanta', 'Georgia', 'Associate', 'Customer Service', 'Revature', 'Information Technology And Services', '$45,767.00 ', '3'], ['f', 'Atlanta', 'Georgia', 'Associate - AI/ML', 'Customer Service', 'Revature', 'Information Technology And Services', '', '2'], ['m', 'Atlanta', 'Georgia', 'Business Development Manager', 'Management', 'Ivbaze Tech Development', 'Computer Software', '$68,391.00 ', '2'], ['m', 'Atlanta', 'Georgia', 'Business Development Representative', 'Business', 'KMS Technology Vietnam', 'Computer Software', '$45,735.00 ', '1'], ['m', 'Atlanta', 'Georgia', 'Business Insight And Analytics Manager', 'Business', 'Georgia-Pacific LLC', 'Paper & Forest Products', '$84,708.00 ', '7'], ['f', 'Atlanta', 'Georgia', 'Business Intelligence Analyst', 'Business', 'Porsche Financial Services', 'Financial Services', '$60,711.00 ', '2'], ['f', 'Atlanta', 'Georgia', 'Business Intelligence Analyst', 'Business', 'Northside Hospital', 'Hospital & Health Care', '$62,096.00 ', '2'], ['u', 'Scottdale', 'Georgia', 'Business Intelligence Developer', 'Information Technology', 'LogicLoops', 'Information Technology And Services', '$95,113.00 ', '1'], ['f', 'Decatur', 'Georgia', 'Business Leadership Intern ', 'Management', 'GEICO', 'Insurance', '$15,000.00 ', '3'], ['m', 'Atlanta', 'Georgia', 'Business Systems Analyst', 'Business', 'Web Industries', 'Outsourcing/offshoring', '$73,883.00 ', '17'], ['f', 'Atlanta', 'Georgia', 'Client Service And Consulting Manager', 'Customer Service', 'athenahealth', 'Information Technology And Services', '$45,754.00 ', '12'], ['m', 'Grayson', 'Georgia', 'Client Services Administrator', 'Customer Service', 'Streamline Health', 'Computer Software', '$27,938.00 ', '5'], ['m', 'Atlanta', 'Georgia', 'Consultant', 'Business', 'Capgemini', 'Information Technology And Services', '$61,873.00 ', '5'], ['m', 'Duluth', 'Georgia', 'Consultant', 'Business', 'Slalom', 'Management Consulting', '$71,717.00 ', '4'], ['f', 'Fort Worth', 'Texas', 'Consultant', 'Business', 'Microsoft', 'Computer Software', '$60,323.00 ', '5'], ['m', 'Atlanta', 'Georgia', 'Continuous Improvement Manager', 'Management', 'Inspire Brands', 'Restaurants', '$83,158.00 ', '2'], ['u', 'Stone Mountain', 'Georgia', 'Customer Care Representative', 'Customer Service', 'CSM Bakery Solutions', 'Food Production', '$31,052.00 ', '4'], ['u', 'Lawrenceville', 'Georgia', 'Customer Relations Representative', 'Customer Service', 'Cox Enterprises', 'Telecommunications', '$28,840.00 ', '4'], ['m', 'Atlanta', 'Georgia', 'Customer Service Agent', 'Customer Service', 'Brandt Information Services', 'Information Technology And Services', '$30,236.00 ', '13'], ['u', 'Atlanta', 'Georgia', 'Customer Service Assistant', 'Customer Service', 'Walgreens', 'Retail', '$29,144.00 ', '2'], ['m', 'Conyers', 'Georgia', 'Customer Service Manager', 'Customer Service', 'Publix Super Markets', 'Retail', '$38,464.00 ', '2'], ['u', 'Augusta', 'Georgia', 'Customer Service Representative', 'Customer Service', 'CDK Global', 'Computer Software', '$20,508.00 ', '2'], ['m', 'Stockbridge', 'Georgia', 'Customer Service Representative', 'Customer Service', 'Cofely Mijoy', '', '$29,706.00 ', ''], ['u', 'Atlanta', 'Georgia', 'Customer Service Representative', 'Customer Service', 'Amazon', 'Internet', '$30,685.00 ', '5'], ['f', 'Atlanta', 'Georgia', 'Customer Service Specialist', 'Customer Service', 'JOHN BEAN TECHNOLOGIES CORP', '', '$35,916.00 ', '2'], ['f', 'Atlanta', 'Georgia', 'Customer Support Manager', 'Customer Service', 'Mailchimp', 'Internet', '$53,322.00 ', '3'], ['f', 'Atlanta', 'Georgia', 'Data Analyst', 'Information Technology', 'Capgemini', 'Information Technology And Services', '$54,481.00 ', '1'], ['f', 'Jonesboro', 'Georgia', 'Data Analyst', 'Information Technology', 'City of Atlanta', 'Government Administration', '$47,801.00 ', '3'], ['m', 'Charlotte', 'North Carolina', 'Data Analyst', 'Information Technology', 'Bank of America', 'Banking', '$65,627.00 ', '2'], ['f', 'Atlanta', 'Georgia', 'Data Analyst', 'Information Technology', 'Cardlytics', 'Marketing And Advertising', '$52,001.00 ', '3'], ['m', 'Atlanta', 'Georgia', 'Data Analyst', 'Information Technology', 'Force Marketing', 'Marketing And Advertising', '$54,481.00 ', '4'], ['f', 'Atlanta', 'Georgia', 'Data Analyst', 'Information Technology', 'EY', 'Accounting', '$53,244.00 ', '2'], ['u', 'Atlanta', 'Georgia', 'Data Analyst', 'Information Technology', 'U.S. Xpress Ventures', 'Transportation/trucking/railroad', '$52,001.00 ', '1'], ['m', 'Atlanta', 'Georgia', 'Data Center Manager', 'Management', 'UPS', 'Logistics And Supply Chain', '$84,808.00 ', '4'], ['m', 'Atlanta', 'Georgia', 'Data Management Manager', 'Management', 'Verizon', 'Information Technology And Services', '$53,267.00 ', '4'], ['u', 'Lilburn', 'Georgia', 'Data Specialist', 'Information Technology', 'Cambridge Healthcare', 'Hospital & Health Care', '$56,852.00 ', '5'], ['m', 'Atlanta', 'Georgia', 'Data Specialist', 'Information Technology', 'Trax Retail', 'Information Technology And Services', '$55,959.00 ', '4'], ['u', 'Atlanta', 'Georgia', 'Data Specialist', 'Information Technology', 'LexisNexis', 'Information Technology And Services', '$55,959.00 ', '3'], ['u', 'Atlanta', 'Georgia', 'Dev Ops Engineer', 'Engineering', 'NCR Corporation', 'Information Technology And Services', '', '2'], ['u', 'Atlanta', 'Georgia', 'Devops Engineer', 'Engineering', 'NCR Corporation', 'Information Technology And Services', '$71,886.00 ', '3'], ['m', 'Annapolis', 'Maryland', 'Devops Engineer', 'Engineering', 'Northrop Grumman', 'Defense & Space', '$85,127.00 ', '2'], ['f', 'Atlanta', 'Georgia', 'Devops Engineer', 'Engineering', 'Accenture', 'Information Technology And Services', '$68,201.00 ', '1'], ['f', 'Atlanta', 'Georgia', 'Extension Specialist', 'Education', 'IBM', 'Information Technology And Services', '', '4'], ['m', 'Decatur', 'Georgia', 'Field Service Manager', 'Management', 'Leapfrog IT Services', 'Information Technology And Services', '$60,309.00 ', '11'], ['m', '', '', 'Genius Admin', 'Other', 'Apple', 'Consumer Electronics', '', '8'], ['m', 'Atlanta', 'Georgia', 'Global Field Readiness Communications Lead', 'Management', 'SAP SuccessFactors', 'Computer Software', '', '5'], ['m', 'Atlanta', 'Georgia', 'Graphic Designer', 'Design', 'Self Employed Graphic Design', 'Education Management', '$42,593.00 ', '5'], ['m', 'Atlanta', 'Georgia', 'Graphic Designer', 'Design', 'LVRN Studios', 'Entertainment', '$40,813.00 ', '3'], ['u', 'Rex', 'Georgia', 'Help Desk Analyst', 'Customer Service', 'Kaiser Permanente', 'Hospital & Health Care', '$31,663.00 ', '5'], ['f', 'Atlanta', 'Georgia', 'Help Desk Analyst', 'Customer Service', 'Intelliteach', 'Legal Services', '$34,464.00 ', '2'], ['f', 'Atlanta', 'Georgia', 'Help Desk Technician', 'Information Technology', 'TransUnion', 'Information Technology And Services', '$38,292.00 ', '4'], ['m', 'Atlanta', 'Georgia', 'Help Desk Technician', 'Information Technology', 'Insight Global', 'Staffing And Recruiting', '$43,955.00 ', '3'], ['m', 'Atlanta', 'Georgia', 'Human Transport Specialist', 'Human Resources', '', '', '', ''], ['m', 'Atlanta', 'Georgia', 'Information Technology Analyst', 'Information Technology', 'MIRASCO', 'International Trade And Development', '$60,393.00 ', '1'], ['f', 'Atlanta', 'Georgia', 'Information Technology Analyst', 'Information Technology', 'Bosch', 'Information Technology And Services', '$58,459.00 ', '1'], ['u', '', '', 'Information Technology Analyst', 'Information Technology', 'NPower Canada', 'Professional Training & Coaching', '$51,959.00 ', '1'], ['f', 'Atlanta', 'Georgia', 'Information Technology Analyst', 'Information Technology', 'CARROLL', 'Real Estate', '$68,407.00 ', '1'], ['u', 'Atlanta', 'Georgia', 'Information Technology Support Specialist', 'Information Technology', 'Virtucom, Inc.', 'Information Technology And Services', '$40,580.00 ', '4'], ['m', 'Atlanta', 'Georgia', 'Information Technology Support Specialist', 'Information Technology', 'Miles Technologies', 'Information Technology And Services', '$38,501.00 ', '2'], ['m', 'Atlanta', 'Georgia', 'Information Technology Technical Support Specialist', 'Information Technology', 'Apple', 'Consumer Electronics', '$55,572.00 ', '5'], ['m', 'McDonough', 'Georgia', 'Information Technology Technical Support Specialist', 'Information Technology', 'Trextel', 'Telecommunications', '$55,621.00 ', '3'], ['u', 'Atlanta', 'Georgia', 'Information Technology Technical Support Specialist', 'Information Technology', 'City of Atlanta', 'Government Administration', '$54,914.00 ', '8'], ['m', 'Tucker', 'Georgia', 'Information Technology Technical Support Specialist', 'Information Technology', 'AIC', 'Staffing And Recruiting', '$57,894.00 ', '6'], ['m', 'Lawrenceville', 'Georgia', 'Information Technology Technician', 'Information Technology', 'Steve Miller', 'Broadcast Media', '$80,038.00 ', '16'], ['m', 'Atlanta', 'Georgia', 'Information Technology Technician', 'Information Technology', 'Apple', 'Consumer Electronics', '$57,325.00 ', '7'], ['u', 'Atlanta', 'Georgia', 'Information Technology Technician', 'Information Technology', 'TransUnion', 'Information Technology And Services', '$53,689.00 ', '4'], ['u', 'Atlanta', 'Georgia', 'Infrastructure Analyst - SAS Administrator ', 'Information Technology', 'State Farm ®', 'Insurance', '', '6'], ['m', 'Smyrna', 'Georgia', 'Install Technician', 'Construction', 'Casteel Heating, Cooling, Plumbing & Electrical', 'Consumer Services', '$32,721.00 ', '6'], ['m', 'Atlanta', 'Georgia', 'In-Store Floating Technician', 'Information Technology', 'Asurion', 'Information Technology And Services', '', '3'], ['m', 'Lawrenceville', 'Georgia', 'It Analyst', 'Information Technology', 'Arrow Exterminators', 'Consumer Services', '$50,288.00 ', '3'], ['f', 'Atlanta', 'Georgia', 'It Analyst', 'Information Technology', 'Centers for Disease Control and Prevention', 'Government Administration', '$58,913.00 ', '14'], ['u', 'Atlanta', 'Georgia', 'It Business Analyst', 'Business', 'NAPA AUTO PARTS', 'Automotive', '$60,936.00 ', '2'], ['f', 'Atlanta', 'Georgia', 'It Business Analyst', 'Business', 'Georgia-Pacific LLC', 'Paper & Forest Products', '$71,449.00 ', '7'], ['m', 'Atlanta', 'Georgia', 'It Business Analyst', 'Business', 'Deloitte', 'Management Consulting', '$60,039.00 ', '2'], ['m', 'Atlanta', 'Georgia', 'It Manager', 'Management', 'SweetWater Brewing Company', 'Food & Beverages', '$78,934.00 ', '4'], ['m', 'Hampton', 'Georgia', 'It Manager', 'Management', 'Gypsum Management and Supply', 'Building Materials', '$70,072.00 ', '3'], ['u', 'Atlanta', 'Georgia', 'It Project Manager', 'Management', 'Insight Global', 'Staffing And Recruiting', '$70,973.00 ', '2'], ['u', 'Atlanta', 'Georgia', 'It Senior Analyst', 'Information Technology', 'UPS Supply Chain Solutions', 'Logistics And Supply Chain', '$73,435.00 ', '8'], ['f', 'Atlanta', 'Georgia', 'It Senior Analyst', 'Information Technology', "Macy's", 'Retail', '$78,143.00 ', '4'], ['u', 'Atlanta', 'Georgia', 'It Technical Analyst', 'Information Technology', 'SAI Global | BWise', 'Computer Software', '$47,880.00 ', '2'], ['u', 'Boston', 'Massachusetts', 'Linux Systems Administrator', 'Information Technology', 'Compsolution Inc', 'Information Technology And Services', '$83,933.00 ', '10'], ['f', 'Atlanta', 'Georgia', 'Local Lab Data Analyst', 'Research', 'IQVIA Italia', '', '', '15'], ['u', 'Atlanta', 'Georgia', 'Logistics Analyst', 'Logistics', 'HD Supply', 'Wholesale', '$48,534.00 ', '2'], ['m', 'Atlanta', 'Georgia', 'Logistics Manager', 'Logistics', 'General Mills (Resource-MFG)', '', '$55,312.00 ', ''], ['m', 'Lawrenceville', 'Georgia', 'Manager of Innovation', 'Management', 'CORL Technologies', 'Information Technology And Services', '', '3'], ['f', 'Alpharetta', 'Georgia', 'Network Operations Center Technician', 'Information Technology', 'InComm', 'Financial Services', '$37,303.00 ', '5'], ['m', 'Decatur', 'Georgia', 'Operation Supervisor', 'Business', 'Atlas Logistics Services', 'Logistics And Supply Chain', '$49,437.00 ', '4'], ['u', 'Stone Mountain', 'Georgia', 'Operations Engineer', 'Engineering', 'WarnerMedia', 'Entertainment', '$62,528.00 ', '1'], ['m', 'Duluth', 'Georgia', 'Operations Engineer', 'Engineering', "Macy's", 'Retail', '$64,044.00 ', '7'], ['u', 'Destin', 'Florida', 'Operations Manager', 'Management', 'Melanin.Tech', 'Internet', '$58,860.00 ', '4'], ['f', 'Ellenwood', 'Georgia', 'Operations Supervisor', 'Management', 'Kaiser Permanente', 'Hospital & Health Care', '$70,424.00 ', '6'], ['m', 'Atlanta', 'Georgia', 'Operations Supervisor', 'Management', 'K & G CUSTOMS SERVICE INC', '', '$61,082.00 ', '7'], ['f', 'Atlanta', 'Georgia', 'Operations Supervisor', 'Management', 'Delta Global Staffing, a Wholly Owned Subsidiary of Delta Air Lines', '', '$78,798.00 ', ''], ['f', 'Lilburn', 'Georgia', 'Php Website Developer', 'Information Technology', 'Hayaà Beauty', '', '$83,944.00 ', ''], ['m', 'Atlanta', 'Georgia', 'Policy Analyst', 'Research', 'Fulton County Government', 'Government Administration', '$39,925.00 ', '3'], ['f', 'Atlanta', 'Georgia', 'President', 'Executive', 'Girls++', '', '$106,376.00 ', ''], ['f', 'Atlanta', 'Georgia', 'Product Manager', 'Management', 'wineOnion', '', '$89,244.00 ', ''], ['u', 'Smyrna', 'Georgia', 'Product Support Engineer', 'Engineering', 'Paya', 'Financial Services', '$53,476.00 ', '2'], ['u', 'Atlanta', 'Georgia', 'Product Support Specialist', 'Customer Service', 'Landis+Gyr', 'Electrical/electronic Manufacturing', '$43,245.00 ', '2'], ['u', 'City of Raleigh', 'North Carolina', 'Professional Services Developer', 'Customer Service', 'Maverick Solutions', 'Public Relations And Communications', '', '3'], ['m', 'Atlanta', 'Georgia', 'Professional Services Specialist', 'Customer Service', 'Fiserv', 'Information Technology And Services', '', '3'], ['f', 'Atlanta', 'Georgia', 'Project Coordinator', 'Management', 'HP', 'Information Technology And Services', '$60,913.00 ', '3'], ['m', 'Atlanta', 'Georgia', 'Project Coordinator', 'Management', 'Trades Masters powered by RigUp', 'Construction', '$49,963.00 ', '1'], ['m', 'Washington', 'District of Columbia', 'Project Coordinator', 'Management', 'ADP', 'Human Resources', '$81,190.00 ', '8'], ['m', 'Atlanta', 'Georgia', 'Project Leader', 'Management', 'Fulton County Government', 'Government Administration', '$62,240.00 ', '1'], ['m', 'Atlanta', 'Georgia', 'Project Manager', 'Management', 'Apogee, Inc.', 'Information Technology And Services', '$68,308.00 ', '6'], ['u', 'Atlanta', 'Georgia', 'Project Manager', 'Management', 'Total Imaging Inc', '', '$65,620.00 ', ''], ['u', 'Stone Mountain', 'Georgia', 'Property Manager', 'Real Estate', '', '', '$45,136.00 ', ''], ['f', 'Fort Collins', 'Colorado', 'Proposal Writer', 'Media', 'Intrado', 'Information Technology And Services', '$45,771.00 ', '1'], ['m', 'Morrow', 'Georgia', 'Quality Assurance', 'Quality Control', 'Valuant', 'Financial Services', '$27,563.00 ', '3'], ['f', 'Atlanta', 'Georgia', 'Quality Assurance Analyst', 'Quality Control', 'TalentQuest', 'Computer Software', '$36,673.00 ', '7'], ['u', 'Phoenix', 'Arizona', 'Quality Assurance Analyst', 'Quality Control', 'Uhaul', 'Transportation/trucking/railroad', '$37,500.00 ', '2'], ['m', 'Atlanta', 'Georgia', 'Quality Assurance Analyst', 'Quality Control', 'Nead Werx, Inc.', 'Computer Software', '$35,949.00 ', '1'], ['m', 'Atlanta', 'Georgia', 'Quality Assurance Analyst', 'Quality Control', 'UPS Supply Chain Solutions', 'Logistics And Supply Chain', '$36,673.00 ', '6'], ['u', 'Phoenix', 'Arizona', 'Quality Assurance Analyst', 'Quality Control', 'Uhaul', 'Transportation/trucking/railroad', '$37,500.00 ', '2'], ['u', 'Atlanta', 'Georgia', 'Quality Assurance Engineer', 'Engineering', '#NAME?', 'Internet', '$54,396.00 ', '2'], ['m', 'San Francisco', 'California', 'Reporting Analyst', 'Research', 'American Tower', 'Telecommunications', '$75,396.00 ', '11'], ['u', 'Atlanta', 'Georgia', 'Research Fellow', 'Science', 'Rewriting the Code', 'Education Management', '$52,704.00 ', '4'], ['u', 'Marietta', 'Georgia', 'SAS Administrator', 'Management', 'State Farm ®', 'Insurance', '', '10'], ['u', 'Decatur', 'Georgia', 'Senior Consultant', 'Business', 'Experient Group', 'Management Consulting', '$84,401.00 ', '3'], ['m', 'Stone Mountain', 'Georgia', 'Senior Electronics Technician', 'Engineering', 'Hartsfield-Jackson Atlanta International Airport', 'Airlines/aviation', '$39,899.00 ', '4'], ['m', 'Atlanta', 'Georgia', 'Senior Partner Success Manager', 'Management', 'Sage', 'Computer Software', '', '15'], ['m', 'Atlanta', 'Georgia', 'Sharepoint Developer', 'Information Technology', 'ITG - Incentive Technology Group', 'Information Technology And Services', '$73,847.00 ', '2'], ['u', 'Duluth', 'Georgia', 'Sharepoint Developer', 'Information Technology', 'KPMG', 'Accounting', '$80,907.00 ', '2'], ['m', 'Snellville', 'Georgia', 'Software Quality Assurance Specialist', 'Information Technology', 'NCR Corporation', 'Information Technology And Services', '$60,966.00 ', '31'], ['u', 'Atlanta', 'Georgia', 'Software Quality Engineer', 'Information Technology', 'Axion BioSystems', 'Biotechnology', '$71,669.00 ', '3'], ['u', 'Tucker', 'Georgia', 'Software Technician', 'Information Technology', 'Subway Restaurant', 'Hospitality', '$41,502.00 ', '11'], ['m', 'Atlanta', 'Georgia', 'Splunk Consultant', 'Business', 'TekStream Solutions', 'Information Technology And Services', '', '2'], ['m', 'Seattle', 'Washington', 'Staff Analyst', 'Information Technology', 'Capgemini', 'Information Technology And Services', '$78,010.00 ', '2'], ['m', 'Atlanta', 'Georgia', 'Staff Assistant', 'Admin Clerical', 'enAble of Georgia', 'Nonprofit Organization Management', '$39,912.00 ', '5'], ['m', 'Duluth', 'Georgia', 'Staff Consultant - CSD', 'Business', 'Capgemini', 'Information Technology And Services', '', '2'], ['f', 'Blackshear', 'Georgia', 'Supervisor', 'Maintenance', 'UPS', 'Logistics And Supply Chain', '$42,159.00 ', '3'], ['u', 'Riverdale', 'Georgia', 'Supervisor', 'Maintenance', 'Chick-fil-A Restaurants', '', '$45,100.00 ', '10'], ['u', 'Ellenwood', 'Georgia', 'Supervisor Of Operations', 'Business', 'United States Postal Service', 'Government Administration', '$64,770.00 ', '6'], ['m', 'Alpharetta', 'Georgia', 'Support Analyst', 'Information Technology', 'Manhattan Associates', 'Computer Software', '$44,058.00 ', '2'], ['m', 'Atlanta', 'Georgia', 'Support Analyst', 'Information Technology', 'Intercontinental Exchange', 'Financial Services', '$44,456.00 ', '2'], ['m', 'Atlanta', 'Georgia', 'Support Analyst'

In [40]:
#convert csv file to data frame using pandas
import pandas as pd
df = pd.read_csv('SteppingBlocksData.csv')
df

,gender,city,state,current_job_title,current_job_category,current_employer,current_employer_industry,current_salary,current_tenure
0,m,Dallas,Georgia,Analyst,Information Technology,iVision,Information Technology And Services,"$63,901.00",4.0
1,u,Tucker,Georgia,Analyst,Information Technology,Avanade,Information Technology And Services,"$67,600.00",2.0
2,u,Lilburn,Georgia,Analyst,Information Technology,EY,Accounting,"$58,618.00",3.0
3,u,Atlanta,Georgia,Analyst,Information Technology,US Navy,Military,"$58,800.00",7.0
4,u,Atlanta,Georgia,Analyst,Information Technology,Newell Brands,Consumer Goods,"$64,783.00",1.0
...,...,...,...,...,...,...,...,...,...
180,m,Atlanta,Georgia,Web Developer,Information Technology,ChildCare Education Institute,E-learning,"$63,493.00",3.0
181,m,Atlanta,Georgia,Web Developer,Information Technology,ATLAS HOME SERVICES LLC,Management Consulting,"$55,521.00",1.0
182,u,Atlanta,Georgia,Web Developer,Information Technology,Allinial Global,Nonprofit Organization Management,"$65,460.00",9.0
183,u,Atlanta,Georgia,Web Developer,Information Technology,Unique Wholesale ATL,NaN,"$61,763.00",NaN
184,NaN,NaN,NaN,job somewhat related to CS,NaN,NaN,NaN,NaN,NaN

In [41]:
df.shape

(185, 9)

In [42]:
# remove rows having current_job_title as 'NaN' and current_job_category as 'NaN'
df = df.dropna(subset=['current_job_title', 'current_job_category'], how='all')
df

,gender,city,state,current_job_title,current_job_category,current_employer,current_employer_industry,current_salary,current_tenure
0,m,Dallas,Georgia,Analyst,Information Technology,iVision,Information Technology And Services,"$63,901.00",4.0
1,u,Tucker,Georgia,Analyst,Information Technology,Avanade,Information Technology And Services,"$67,600.00",2.0
2,u,Lilburn,Georgia,Analyst,Information Technology,EY,Accounting,"$58,618.00",3.0
3,u,Atlanta,Georgia,Analyst,Information Technology,US Navy,Military,"$58,800.00",7.0
4,u,Atlanta,Georgia,Analyst,Information Technology,Newell Brands,Consumer Goods,"$64,783.00",1.0
...,...,...,...,...,...,...,...,...,...
180,m,Atlanta,Georgia,Web Developer,Information Technology,ChildCare Education Institute,E-learning,"$63,493.00",3.0
181,m,Atlanta,Georgia,Web Developer,Information Technology,ATLAS HOME SERVICES LLC,Management Consulting,"$55,521.00",1.0
182,u,Atlanta,Georgia,Web Developer,Information Technology,Allinial Global,Nonprofit Organization Management,"$65,460.00",9.0
183,u,Atlanta,Georgia,Web Developer,Information Technology,Unique Wholesale ATL,NaN,"$61,763.00",NaN
184,NaN,NaN,NaN,job somewhat related to CS,NaN,NaN,NaN,NaN,NaN

In [43]:
df.shape

(185, 9)

In [44]:
# print all the unique values in the column 'current_job_category'
df['current_job_category'].unique()
# print them as a dataframe
df['current_job_category'].unique()
# create a dataframe with the unique values in the column 'current_job_category'
current_job_category = pd.DataFrame(df['current_job_category'].unique())
# name the columen 'current_job_category'
current_job_category.columns = ['current_job_category']
current_job_category

      current_job_category
0   Information Technology
1                    Sales
2              Engineering
3                  Finance
4         Customer Service
5               Management
6                 Business
7                Education
8                    Other
9                   Design
10         Human Resources
11            Construction
12                Research
13               Logistics
14               Executive
15             Real Estate
16                   Media
17         Quality Control
18                 Science
19          Admin Clerical
20             Maintenance
21                     NaN

In [32]:
# print all the unique values in the column 'current_job_title'
df['current_job_title'].unique()
# print them as a dataframe
df['current_job_title'].unique().tolist()
#create a daraframe named Job_title and store the unique values of current_job_title in it
Job_title = df['current_job_title'].unique()
Job_title = pd.DataFrame(Job_title)
# name the column 'current_job_title'
Job_title.columns = ['current_job_title']
Job_title

                    current_job_title
0                             Analyst
1                       Analyst Sales
2                  Analytics Engineer
3                   Applecare Advisor
4                           Associate
..                                ...
111  Wandering Wifi Technical Support
112              Warehouse Supervisor
113                      Web Designer
114                     Web Developer
115        job somewhat related to CS

[116 rows x 1 columns]

In [46]:
# create a dictionary with key as a 'current_job_category' and value as a list of 'current_job_title'
category_title = {}
for i in current_job_category['current_job_category']:
    category_title[i] = df[df['current_job_category'] == i]['current_job_title'].unique().tolist()
category_title

{'Information Technology': ['Analyst',
  'Business Intelligence Developer',
  'Data Analyst',
  'Data Specialist',
  'Help Desk Technician',
  'Information Technology Analyst',
  'Information Technology Support Specialist',
  'Information Technology Technical Support Specialist',
  'Information Technology Technician',
  'Infrastructure Analyst - SAS Administrator ',
  'In-Store Floating Technician',
  'It Analyst',
  'It Senior Analyst',
  'It Technical Analyst',
  'Linux Systems Administrator',
  'Network Operations Center Technician',
  'Php Website Developer',
  'Sharepoint Developer',
  'Software Quality Assurance Specialist',
  'Software Quality Engineer',
  'Software Technician',
  'Staff Analyst',
  'Support Analyst',
  'Support Technician',
  'System Analyst',
  'Systems Support Specialist',
  'Technical Analyst',
  'Technical Consultant',
  'Technical Specialist',
  'Technician',
  'Technology Consultant',
  'Test Analyst',
  'Wandering Wifi Technical Support',
  'Web Designer',
  'Web Developer'],
 'Sales': ['Analyst Sales'],
 'Engineering': ['Analytics Engineer',
  'Dev Ops Engineer',
  'Devops Engineer',
  'Operations Engineer',
  'Product Support Engineer',
  'Quality Assurance Engineer',
  'Senior Electronics Technician',
  'Test Automation Engineer',
  'Test Engineer'],
 'Finance': ['Applecare Advisor', 'Technical Advisor'],
 'Customer Service': ['Associate',
  'Associate - AI/ML',
  'Client Service And Consulting Manager',
  'Client Services Administrator',
  'Customer Care Representative',
  'Customer Relations Representative',
  'Customer Service Agent',
  'Customer Service Assistant',
  'Customer Service Manager',
  'Customer Service Representative',
  'Customer Service Specialist',
  'Customer Support Manager',
  'Help Desk Analyst',
  'Product Support Specialist',
  'Professional Services Developer',
  'Professional Services Specialist',
  'Technology Associate (Contract)'],
 'Management': ['Business Development Manager',
  'Business Leadership Intern ',
  'Continuous Improvement Manager',
  'Data Center Manager',
  'Data Management Manager',
  'Field Service Manager',
  'Global Field Readiness Communications Lead',
  'It Manager',
  'It Project Manager',
  'Manager of Innovation',
  'Operations Manager',
  'Operations Supervisor',
  'Product Manager',
  'Project Coordinator',
  'Project Leader',
  'Project Manager',
  'SAS Administrator',
  'Senior Partner Success Manager',
  'Technical Support Manager'],
 'Business': ['Business Development Representative',
  'Business Insight And Analytics Manager',
  'Business Intelligence Analyst',
  'Business Systems Analyst',
  'Consultant',
  'It Business Analyst',
  'Operation Supervisor',
  'Senior Consultant',
  'Splunk Consultant',
  'Staff Consultant - CSD',
  'Supervisor Of Operations',
  'Technical Product Owner',
  'Test Specialist'],
 'Education': ['Extension Specialist'],
 'Other': ['Genius Admin'],
 'Design': ['Graphic Designer'],
 'Human Resources': ['Human Transport Specialist'],
 'Construction': ['Install Technician'],
 'Research': ['Local Lab Data Analyst', 'Policy Analyst', 'Reporting Analyst'],
 'Logistics': ['Logistics Analyst',
  'Logistics Manager',
  'Warehouse Supervisor'],
 'Executive': ['President'],
 'Real Estate': ['Property Manager'],
 'Media': ['Proposal Writer'],
 'Quality Control': ['Quality Assurance', 'Quality Assurance Analyst'],
 'Science': ['Research Fellow'],
 'Admin Clerical': ['Staff Assistant'],
 'Maintenance': ['Supervisor'],
 nan: []}

In [63]:
category_title

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
Information Technology,Analyst,Business Intelligence Developer,Data Analyst,Data Specialist,Help Desk Technician,Information Technology Analyst,Information Technology Support Specialist,Information Technology Technical Support Speci...,Information Technology Technician,Infrastructure Analyst - SAS Administrator,...,Systems Support Specialist,Technical Analyst,Technical Consultant,Technical Specialist,Technician,Technology Consultant,Test Analyst,Wandering Wifi Technical Support,Web Designer,Web Developer
Sales,Analyst Sales,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Engineering,Analytics Engineer,Dev Ops Engineer,Devops Engineer,Operations Engineer,Product Support Engineer,Quality Assurance Engineer,Senior Electronics Technician,Test Automation Engineer,Test Engineer,None,...,None,None,None,None,None,None,None,None,None,None
Finance,Applecare Advisor,Technical Advisor,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Customer Service,Associate,Associate - AI/ML,Client Service And Consulting Manager,Client Services Administrator,Customer Care Representative,Customer Relations Representative,Customer Service Agent,Customer Service Assistant,Customer Service Manager,Customer Service Representative,...,None,None,None,None,None,None,None,None,None,None
Management,Business Development Manager,Business Leadership Intern,Continuous Improvement Manager,Data Center Manager,Data Management Manager,Field Service Manager,Global Field Readiness Communications Lead,It Manager,It Project Manager,Manager of Innovation,...,None,None,None,None,None,None,None,None,None,None
Business,Business Development Representative,Business Insight And Analytics Manager,Business Intelligence Analyst,Business Systems Analyst,Consultant,It Business Analyst,Operation Supervisor,Senior Consultant,Splunk Consultant,Staff Consultant - CSD,...,None,None,None,None,None,None,None,None,None,None
Education,Extension Specialist,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Other,Genius Admin,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Design,Graphic Designer,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Human Resources,Human Transport Specialist,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Construction,Install Technician,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Research,Local Lab Data Analyst,Policy Analyst,Reporting Analyst,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Logistics,Logistics Analyst,Logistics Manager,Warehouse Supervisor,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Executive,President,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Real Estate,Property Manager,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Media,Proposal Writer,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Quality Control,Quality Assurance,Quality Assurance Analyst,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Science,Research Fellow,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Admin Clerical,Staff Assistant,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
Maintenance,Supervisor,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
NaN,None,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [55]:
# create a dictionary with key as a 'current_job_title' and value as a list of 'current_job_category'
title_category = {}
for i in Job_title['current_job_title']:
    title_category[i] = df[df['current_job_title'] == i]['current_job_category'].unique().tolist()
title_category

{'Analyst': ['Information Technology'],
 'Analyst Sales': ['Sales'],
 'Analytics Engineer': ['Engineering'],
 'Applecare Advisor': ['Finance'],
 'Associate': ['Customer Service'],
 'Associate - AI/ML': ['Customer Service'],
 'Business Development Manager': ['Management'],
 'Business Development Representative': ['Business'],
 'Business Insight And Analytics Manager': ['Business'],
 'Business Intelligence Analyst': ['Business'],
 'Business Intelligence Developer': ['Information Technology'],
 'Business Leadership Intern ': ['Management'],
 'Business Systems Analyst': ['Business'],
 'Client Service And Consulting Manager': ['Customer Service'],
 'Client Services Administrator': ['Customer Service'],
 'Consultant': ['Business'],
 'Continuous Improvement Manager': ['Management'],
 'Customer Care Representative': ['Customer Service'],
 'Customer Relations Representative': ['Customer Service'],
 'Customer Service Agent': ['Customer Service'],
 'Customer Service Assistant': ['Customer Service'],
 'Customer Service Manager': ['Customer Service'],
 'Customer Service Representative': ['Customer Service'],
 'Customer Service Specialist': ['Customer Service'],
 'Customer Support Manager': ['Customer Service'],
 'Data Analyst': ['Information Technology'],
 'Data Center Manager': ['Management'],
 'Data Management Manager': ['Management'],
 'Data Specialist': ['Information Technology'],
 'Dev Ops Engineer': ['Engineering'],
 'Devops Engineer': ['Engineering'],
 'Extension Specialist': ['Education'],
 'Field Service Manager': ['Management'],
 'Genius Admin': ['Other'],
 'Global Field Readiness Communications Lead': ['Management'],
 'Graphic Designer': ['Design'],
 'Help Desk Analyst': ['Customer Service'],
 'Help Desk Technician': ['Information Technology'],
 'Human Transport Specialist': ['Human Resources'],
 'Information Technology Analyst': ['Information Technology'],
 'Information Technology Support Specialist': ['Information Technology'],
 'Information Technology Technical Support Specialist': ['Information Technology'],
 'Information Technology Technician': ['Information Technology'],
 'Infrastructure Analyst - SAS Administrator ': ['Information Technology'],
 'Install Technician': ['Construction'],
 'In-Store Floating Technician': ['Information Technology'],
 'It Analyst': ['Information Technology'],
 'It Business Analyst': ['Business'],
 'It Manager': ['Management'],
 'It Project Manager': ['Management'],
 'It Senior Analyst': ['Information Technology'],
 'It Technical Analyst': ['Information Technology'],
 'Linux Systems Administrator': ['Information Technology'],
 'Local Lab Data Analyst': ['Research'],
 'Logistics Analyst': ['Logistics'],
 'Logistics Manager': ['Logistics'],
 'Manager of Innovation': ['Management'],
 'Network Operations Center Technician': ['Information Technology'],
 'Operation Supervisor': ['Business'],
 'Operations Engineer': ['Engineering'],
 'Operations Manager': ['Management'],
 'Operations Supervisor': ['Management'],
 'Php Website Developer': ['Information Technology'],
 'Policy Analyst': ['Research'],
 'President': ['Executive'],
 'Product Manager': ['Management'],
 'Product Support Engineer': ['Engineering'],
 'Product Support Specialist': ['Customer Service'],
 'Professional Services Developer': ['Customer Service'],
 'Professional Services Specialist': ['Customer Service'],
 'Project Coordinator': ['Management'],
 'Project Leader': ['Management'],
 'Project Manager': ['Management'],
 'Property Manager': ['Real Estate'],
 'Proposal Writer': ['Media'],
 'Quality Assurance': ['Quality Control'],
 'Quality Assurance Analyst': ['Quality Control'],
 'Quality Assurance Engineer': ['Engineering'],
 'Reporting Analyst': ['Research'],
 'Research Fellow': ['Science'],
 'SAS Administrator': ['Management'],
 'Senior Consultant': ['Business'],
 'Senior Electronics Technician': ['Engineering'],
 'Senior Partner Success Manager': ['Management'],
 'Sharepoint Developer': ['Information Technology'],
 'Software Quality Assurance Specialist': ['Information Technology'],
 'Software Quality Engineer': ['Information Technology'],
 'Software Technician': ['Information Technology'],
 'Splunk Consultant': ['Business'],
 'Staff Analyst': ['Information Technology'],
 'Staff Assistant': ['Admin Clerical'],
 'Staff Consultant - CSD': ['Business'],
 'Supervisor': ['Maintenance'],
 'Supervisor Of Operations': ['Business'],
 'Support Analyst': ['Information Technology'],
 'Support Technician': ['Information Technology'],
 'System Analyst': ['Information Technology'],
 'Systems Support Specialist': ['Information Technology'],
 'Technical Advisor': ['Finance'],
 'Technical Analyst': ['Information Technology'],
 'Technical Consultant': ['Information Technology'],
 'Technical Product Owner': ['Business'],
 'Technical Specialist': ['Information Technology'],
 'Technical Support Manager': ['Management'],
 'Technician': ['Information Technology'],
 'Technology Associate (Contract)': ['Customer Service'],
 'Technology Consultant': ['Information Technology'],
 'Test Analyst': ['Information Technology'],
 'Test Automation Engineer': ['Engineering'],
 'Test Engineer': ['Engineering'],
 'Test Specialist': ['Business'],
 'Wandering Wifi Technical Support': ['Information Technology'],
 'Warehouse Supervisor': ['Logistics'],
 'Web Designer': ['Information Technology'],
 'Web Developer': ['Information Technology'],
 'job somewhat related to CS': [nan]}